*.swp
dist/
dist-newstyle/
.hsenv/
.coda_history
docs
wiki
TAGS
tags
wip
.DS_Store
.*.swp
.*.swo
*.o
*.hi
*~
*#
cabal.project.local
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
codex.tags
old/
*.vsix
node_modules/
TODO.txt
