.cabal-sandbox
.coda_history
.DS_Store
.hsenv
.stack-work
.vscode-test
*.o
*.hi
*.swo
*.swp
*.vsix
*~
*#
cabal.project.local
cabal.sandbox.config
codex.tags
dist
dist-newstyle
docs
node_modules
old
out
tags
TODO.txt
wiki
wip
