.cabal-sandbox
.coda_history
.DS_Store
.hsenv
.stack-work
*.o
*.hi
*.swo
*.swp
*.vsix
*~
*#
cabal.project.local
cabal.sandbox.config
codex.tags
dist/
dist-newstyle
docs
ext/.vscode-test
ext/node_modules
old
TAGS
tags
TODO.txt
wiki
wip
