language: c
sudo: false
dist: trusty

branches:
  except:
  - appveyor
  - circle
  - gh-pages

git:
  submodules: false

cache:
  directories:
    - $HOME/.cabal/packages
    - $HOME/.cabal/store

before_cache:
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/build-reports.log
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/00-index.*
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/*.json
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/01-index.cache
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/01-index.tar
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/01-index.tar.idx

matrix:
 include:
  - env: CABALVER=2.2 GHCVER=8.4.3
    compiler: ": #GHC 8.4.3"
    addons: {apt: {packages: [cabal-install-2.2,ghc-8.4.3,alex-3.1.7,happy-1.19.5], sources: [hvr-ghc]}}

before_install:
 - . bin/travis_cabal.sh
 - coda_trap coda_before_install

install:
 - coda_trap coda_install

script:
 - coda_trap coda_script

after_script:
 - coda_trap coda_after_script

before_cache:
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/build-reports.log
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/00-index.tar

notifications:
  irc:
    channels:
      - "irc.freenode.org##coda"
    skip_join: true
    template:
      - "\x0313coda\x0f/\x0306%{branch}\x0f \x0314%{commit}\x0f %{message} \x0302\x1f%{build_url}\x0f"
