*#
**/.tags
**/*.coda
**/*.hs
**/*.map
**/*.swp
**/*.ts
*.log
*~
.appveyor.yml
.coda_history
.gitattributes
.gitignore
.hlint.yaml
.npmignore
.stack-work/**
.travis.yml
.vscode-test/**
.vscode/**
bin/**
!bin/coda.bat
!bin/coda.sh
cabal.project
cabal.project.local
coda.cabal
code/**
circle.yml
dist/**
dist-newstyle/**
docs/**
gpg.conf
out/test/**
old/**
ref/**
src/**
stack*.yaml
test/**
wip/**
tsconfig.json
tslint.json
