.git/**
.gitignore
.vscode/**
**/*.map
**/*.swp
**/*.ts
**.vsix
dist/**
!dist/client.js
dist-newstyle
tsconfig.json
tslint.json
.hsenv/**
docs/**
wiki/**
TAGS
tags
wip/**
.DS_Store
.*.swp
.*.swo
*.o
*.hi
*~
*#
cabal.project.local
.cabal-sandbox/**
cabal.sandbox.config
.stack-work/**
codex.tags
old/**
