*#
**/*.hs
**/*.map
**/*.swp
**/*.ts
*.log
*~
.appveyor.yml
.gitattributes
.gitignore
.hlint.yaml
.npmignore
.stack-work/**
.travis.yml
.vscode-test/**
.vscode/**
bin/**
!bin/coda.bat
!bin/coda.sh
cabal.project
cabal.project.local
code/**
circle.yml
coda.cabal
dist-newstyle/**
dist/**
docs/**
gpg.conf
out/test/**
src/**
stack*.yaml
test/**
tsconfig.json
tslint.json
